{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

<div class="ui segment" id="order-invoices">
    <h3 class="ui dividing header" id="shipping-state">{{ 'robier_sylius_croatian_fiscalization_plugin.ui.fiscalization'|trans }}</h3>
    {{ 'robier_sylius_croatian_fiscalization_plugin.ui.no_data'|trans }}
</div>
